@model IEnumerable<thuctap_CTN.Models.Thoikhoabieu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TkbMonhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TkbKhunggio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TkbNgay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TkbLinkhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TkbMonhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TkbKhunggio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TkbNgay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TkbLinkhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hv.HvId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L.LId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TkbId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TkbId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TkbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
